<footer class="site-footer">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12 text-center">
        <picture>
          <source srcset="/assets/images/SD-Illo-3-DarkBG-768x768.webp" type="image/webp">
          <img src="/assets/images/SD-Illo-3-DarkBG-768x768.png" 
               alt="Supply & Demand illustration" 
               class="footer-image">
        </picture>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0 pe-md-4">
        <h2 class="h3" id="footer-info">Information</h2>
        <nav aria-labelledby="footer-info">
          <ul class="list-unstyled">
            <li><a href="/accessibility/">Accessibility</a></li>
            <li><a href="/code-of-conduct/">Code of Conduct</a></li>
            <li><a href="/faq/">FAQ</a></li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4 mb-3 mb-md-0 pe-md-4">
        <h2 class="h3">Supply & Demand</h2>
        <address>
			{{ site.address.street }}<br />
			{{ site.address.city }}, {{ site.address.province }}<br /> 
			{{ site.address.country }}<br />
			{{ site.address.postalCode }}
        </address>
      </div>
      <div class="col-md-4 mb-3 mb-md-0 pe-md-4">
        <h2 class="h3">Follow Us</h2>
        <ul class="social-links list-unstyled">
          {% if site.social.facebook %}
          <li>
            <a href="{{ site.social.facebook }}" aria-label="Facebook">
              <i class="fab fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% if site.social.instagram %}
          <li>
            <a href="{{ site.social.instagram }}" aria-label="Instagram">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
          {% if site.contact.email %}
          <li>
            <a href="mailto:{{ site.contact.email }}" aria-label="Email">
              <i class="fa-solid fa-envelope" aria-hidden="true"></i>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="text-center">
      <p class="mb-0">
        &copy; {% year %} {{ site.name }}. All rights reserved.
      </p>
    </div>
  </div>
</footer>
