<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/SupplyDemand-Primary-White-CMYK-1024x280.png" 
           alt="{{ site.name }}" 
           class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/menu/" %}active{% endif %}" href="/menu/" {% if page.url == "/menu/" %}aria-current="page"{% endif %}>Menus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/location/" %}active{% endif %}" href="/location/" {% if page.url == "/location/" %}aria-current="page"{% endif %}>Find Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/events/" %}active{% endif %}" href="/events/" {% if page.url == "/events/" %}aria-current="page"{% endif %}>Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/shop/" %}active{% endif %}" href="/shop/" {% if page.url == "/shop/" %}aria-current="page"{% endif %}>Shop</a>
        </li>
      </ul>
      </ul>
    </div>
  </div>
</nav>
