<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/SupplyDemand-Primary-White-CMYK-1024x280.png" 
           alt="{{ site.name }}" 
           class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/" %}active{% endif %}" href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/beer/" %}active{% endif %}" href="/beer/" {% if page.url == "/beer/" %}aria-current="page"{% endif %}>Beer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/pizza/" %}active{% endif %}" href="/pizza/" {% if page.url == "/pizza/" %}aria-current="page"{% endif %}>Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/menu/" %}active{% endif %}" href="/menu/" {% if page.url == "/menu/" %}aria-current="page"{% endif %}>Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/events/" %}active{% endif %}" href="/events/" {% if page.url == "/events/" %}aria-current="page"{% endif %}>Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/about/" %}active{% endif %}" href="/about/" {% if page.url == "/about/" %}aria-current="page"{% endif %}>About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/location/" %}active{% endif %}" href="/location/" {% if page.url == "/location/" %}aria-current="page"{% endif %}>Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url == "/contact/" %}active{% endif %}" href="/contact/" {% if page.url == "/contact/" %}aria-current="page"{% endif %}>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
