---
layout: layouts/base.njk
---

<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h1 class="mb-4">{{ title }}</h1>
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </div>
  </div>
</div>
