---
layout: base.njk
title: Events
permalink: /events/
---

<div class="container py-4">
  <h1 class="mb-4">Events at Supply & Demand</h1>
  
  {% set showRecurring = true %}
  {% set showUpcoming = true %}
  {% include "components/events-list.njk" %}
