---
layout: base.njk
title: Shop
permalink: /shop/
---

<div class="container my-5">
  <h1>Shop</h1>
  <p>Shop our merchandise and take-home items.</p>
  
  <p class="text-white">Coming soon...</p>
</div>
